$primary: rebeccapurple;
$secondary: rebeccapurple;
$success: rebeccapurple;
$info: rebeccapurple;
$warning: rebeccapurple;
$danger: rebeccapurple;
$light: rebeccapurple;
$dark: rebeccapurple;

@import "../cosasraras/node_modules/bootstrap/scss/bootstrap.scss";

