body {
    justify-content: center;
    display: flex;
    background-color: rgb(228, 228, 228);
}
caption span {
    background-color: rgb(153, 230, 255);
    padding: 1px 0px 1px 0px;
    display: inline-block;
}
tfoot {
    text-align: center;
    background-color:rgb(153, 230, 255) ;
}
td, th {
    padding-right: 10px;
}
table {
    border: 3px solid black;
    background-color: rgb(253, 228, 198);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
td {
    border-bottom: 2px solid black;
    border-left: 0.5px solid black;
}
.sin-borde {
    border: none;
}
