body {
    margin: 0px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.item1 {
    background-color: black;
}
.item2 {
    background-color: red;
}
.item3 {
    background-color: blue
}
.item4 {
    background-color: rgb(35, 35, 82);
}
.item5 {
    background-color: yellow;
}
.item6 {
    background-color: green;
}
.item7 {
    background-color: rgb(167, 167, 251);
}
@media (max-width: 425px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(14, 1fr);
    }
    .item1 {
        background-color: black;
    }
    .item2 {
        background-color: red;
    }
    .item3 {
        grid-area: 3 / 1 / 6 / 2;
        background-color: blue
    }
    .item4 {
        grid-area: 6 / 1 / 9 / 2;
        background-color: rgb(35, 35, 82);
    }
    .item5 {
        grid-area: 9 / 1 / 11 / 2;
        background-color: yellow;
    }
    .item6 {
        grid-area: 11 / 1 / 13 / 2;
        background-color: green;
    }
    .item7 {
        grid-area: 13 / 1 / 15 / 2;
        background-color: rgb(167, 167, 251);
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(14, 1fr);
    }
    
    .item1 {
        grid-area: 1 / 1 / 2 / -1;
    }
    .item2 {
        grid-area: 5 / 1 / 15 / 2;

    }
    .item3{
        grid-area: 2 / 1 / 6 / -1;
    }
    .item4 {
        grid-area: 6 / 2 / 11 / -1;
    }
    .item5 {
        grid-area: 11 / 2 / 13 / -1;
    }
    .item6 {
        grid-area: 13 / 2 / 15 / 2;
    }
    .item7 {
        grid-area: 13 / 3 / 15 / 3;
    }
}
@media (min-width: 769px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(14, 1fr);
    }
    .item1 {
        grid-area: 1 / 1 / 1 / 1;
    }
    .item2 {
        grid-area: 1 / 2 / 2 / -1;
    }
    .item3 {
        grid-area: 2 / 1 / 9 / -1;
    }
    .item4 {
        grid-area: 9 / 1 / 13 / 3;
    }
    .item5 {
        grid-area: 13 / 1 / -1 / -1;
    }
    .item6 {
        grid-area: 9 / 4 / 11 / 5;
    }
    .item7 {
        grid-area: 11 / 4 / 13 / 5;
    }
}
